<div class="col-md-4">
    <h2>Edit Groups</h2>
    <hr>
    <%= form_for @groups do |f| %>
    Title
    <%= f.text_field :title %>
    <br>
    Description
    <br>
    <%= f.text_area :description %>
    <br>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>
</div>